.wrapper{
    max-width: 700px;
    margin: auto;
    background: #f7f7f7;
    padding: 25px 15px 15px;
    box-shadow: 0px 0px 2px 0px #00000073;
}
.send{
    text-align: right;
    margin-top: 15px;
}
.help-block{
    color: red;
}
.wrapper .ql-container {
    height: auto;
}
.wrapper .ql-editor {
    height: auto;
    max-width: 500px;
    min-height: 500px;
}